* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 900px;
  background-color: black;
  background-image: url("../images/home-page-slider.jpg");
  background-size: cover;
}

.container img {
  height: 50px;
  margin-left: 100px;
  margin-top: 35px;
}

ul {
  display: inline;
  list-style: none;
  margin-top: 55px;
}

ul li {
  display: inline;
  font-size: 12px;
  margin-right: 50px;
}

li a {
  text-decoration: none;
  color: white;
}

.btn_yellow {
  border: 1px solid #fcd66c;
  background-color: #fcd66c;
  padding: 10px;
  color: white;
}

.containerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.containerTitle h1 {
  font-size: 45px;
}

.containerTitle p {
  margin-bottom: 25px;
  font-size: 18px;
}

.containerTitle a {
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  font-size: 10px;
}

.btn_yellowBorder {
  border: 2px solid #fcd66c;
  color: #fcd66c;
}

.btn_whiteBorder {
  border: 2px solid white;
  color: white;
}

.moment {
  display: flex;
  width: 100%;
  height: 500px;
}

.count {
  width: 70%;
  padding-top: 100px;
  padding-left: 65px;
}

.count h2 {
  margin-left: 37px;
}

span {
  display: inline-block;
  width: 150px;
  height: 1px;
  margin-bottom: 5px;
  border: 1px solid #fcd66c;
  border-radius: 2%;
  margin-left: 40px;
}

.count p {
  margin-top: 25px;
  font-size: 14px;
  margin-left: 42px;
}

.last_p {
  margin-bottom: 30px;
}

.count a {
  font-size: 12px;
  text-decoration: none;
  color: white;
  margin-left: 40px;
}

.statics {
  width: calc(100% - 70%);
  background-image: url("../images/home-content-bg-1.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  color: white;
}

.statics div {
  margin-top: 8%;
}

.values {
  height: 650px;
  width: 100%;
  background-image: url("../images/home-content-bg-2.jpg");
  background-size: cover;
}

.values_top {
  width: 100%;
  height: 100px;
  padding-top: 5%;
  text-align: center;
  color: white;
}

.values_top span {
  margin-top: 2%;
  margin-left: 0;
  margin-bottom: 2%;
}

.values_top h2 {
  font-size: 30px;
}

.values_top p {
  font-size: 18px;
}

.values_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10%;
}

.box {
  width: 350px;
  height: 200px;
  text-align: center;
  color: white;
}

.box i {
  font-size: 40px;
  margin-bottom: 10%;
  color: #fcd66c;
}

.box p {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 14px;
}

.box a {
  text-decoration: none;
}

.causes {
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 5%;
}

.causes span {
  margin-top: 2%;
  margin-left: 0;
  margin-bottom: 2%;
}

.carousel {
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin-left: 18%;
  margin-top: 5%;
}

.images {
  width: 150px;
  height: 150px;
}

.images img {
  width: 150px;
  height: 150px;
}

.banner {
  height: 90px;
  width: 100%;
  background-color: #ed6864;
  margin-top: 70px;
  padding-top: 35px;
}

.banner a {
  text-decoration: none;
  color: white;
}

.articles {
  width: 100%;
  height: 700px;
  margin-top: 54px;
}

.title {
  width: 100%;
  margin-top: 13%;
  text-align: center;
}

.article_box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.left {
  width: 400px;
  height: 400px;
  margin-top: 5%;
  border: 1px solid black;
}

.left img {
  width: 400px;
  margin-bottom: 2%;
}

.left h4, p {
  margin: 0 5%;
  line-height: 25px;
}

.left h4 {
  color: #fcd66c;
}

.right {
  width: 500px;
  height: 400px;
  margin-top: 5%;
  margin-left: 2%;
}

.box_inside {
  width: 100%;
  height: 100px;
}

.box_inside > div {
  display: flex;
  margin-bottom: 13px;
}

.box_inside img {
  height: 90px;
}

.text {
  width: 100%;
  height: 80%;
}

.text h4 {
  margin-left: 4%;
  color: #fcd66c;
}

.text p {
  font-size: 12px;
}

.articles_banner {
  width: 930px;
  height: 35px;
  background: #ed6864;
  margin: 3% auto;
  text-align: center;
  padding-top: 10px;
}

.articles_banner a {
  text-decoration: none;
  color: white;
}

.change {
  height: 400px;
  width: 100%;
  background-image: url("../images/home-footer.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

.box_change {
  width: 55%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.box_change span {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.box_change p {
  margin-bottom: 25px;
}

.box_change a {
  text-decoration: none;
  padding: 5px;
}

.logo {
  width: 100%;
  height: 120px;
  padding-top: 25px;
  text-align: center;
}

.social {
  height: 200px;
  width: 100%;
  background: #bababc;
  text-align: center;
  padding-top: 25px;
  color: lightgrey;
}

.social p {
  margin-bottom: 20px;
}

.btn_social {
  font-size: 40px;
  color: black;
}

.btn_social span {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 7px;
  border: 0;
  background: white;
  border-radius: 50px;
}
