.social{
  height: 200px;
  width:100%;
  background: #bababc;
  text-align: center;
  padding-top:25px;
  color: lightgrey;
}
.social p{
  margin-bottom: 20px;
}

.btn_social{
  font-size: 40px;
  color:black;
}

.btn_social span{
  width:60px;
  height:60px;
  text-align: center;
  padding:7px;
  border: 0;
  background: white;
  border-radius: 50px;
}

li a{
  color:#fcd66c;
}
