.moment{
  display: flex;
  width: 100%;
  height:400px;
}

.count{
  width: 70%;
  padding-top: 100px;
  padding-left: 65px;
}
span{
  display: inline-block;
  width: 150px;
  height: 1px;
  margin-bottom: 5px;
  border: 1px solid #fcd66c;
  border-radius: 2%;
}
.count p{
  margin-top: 25px;
  font-size: 14px;
}
.last_p{
  margin-bottom: 30px;
}
.count a{
  font-size: 12px;
  text-decoration: none;
  color:white;
}

.statics{
  width: calc(100% - 70%);
  background-image: url("../images/home-content-bg-1.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  color:white;
}

.statics div{
  margin-top: 8%;
}
